[Global]
cluster-id = "{{ vcenter_cluster }}_{{ vm_portgroup }}"
[VirtualCenter "{{ vcenter_hostname }}"]
insecure-flag = "true"
user = "{{ vcenter_username }}"
password = "{{ vault_vcenter_password }}"
port = "443"
datacenters = "{{ datacenter }}"
