###
# Copyright (2020) Hewlett Packard Enterprise Development LP
#
# Licensed under the Apache License, Version 2.0 (the "License");
# You may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
###

#
# DHCP Server Configuration file.
#   see /usr/share/doc/dhcp-server/dhcpd.conf.example
#   see dhcpd.conf(5) man page
#
#
# Options that apply to all configured subnets
#
option domain-name                      "{{ domain_name }}";
option domain-name-servers              {{ dns_servers | join (', ') }};
option ntp-servers                      {{ ntp_servers | join (', ') }};
default-lease-time                      {{ dhcp_default_lease_time }};
max-lease-time                          {{ dhcp_max_lease_time }};

#
# Subnet configuration and range for Rancher
#
subnet {{ dhcp_subnet | ipaddr('network') }} netmask {{ dhcp_subnet | ipaddr('netmask') }} {
        range                           {{ dhcp_range }};
        option routers                  {{ gateway }};
        option subnet-mask              {{ dhcp_subnet | ipaddr ('netmask') }};
}
