nodes:
{% for host in groups.ranchernodes %}
  - address: {{ hostvars[host].ansible_host }}
    internal_address: {{ hostvars[host].ansible_host }}
    user: {{ ansible_user }}
    role: [controlplane, worker, etcd]
{% endfor %}

services:
  etcd:
    snapshot: true
    creation: 6h
    retention: 24h

# Required for external TLS termination with
# ingress-nginx v0.22+
ingress:
  provider: nginx
  options:
    use-forwarded-headers: "true"
