# CSI storage verification


## Deploy WordPress and MySQL

<!--
<script src="https://gist.github.com/gabrielmcg/8b639eb5d3efad3a7049c27f58089547.js"></script>
-->


```
kubectl apply -f https://bit.ly/3bfdSzY
```