[Global]
insecure-flag = "{{ not vcenter_validate_certs }}"
[VirtualCenter "{{ vcenter_hostname }}"]
user = "{{ vcenter_username }}"
password = "{{ vcenter_password }}"
port = "443"
datacenters = "{{ datacenter }}"
[HPESimpliVity]
ip =  "{{ simplivity_appliances[0] }}"
user = "{{ simplivity_username }}"  
password = "{{ simplivity_password }}"
[Network]
public-network = "{{ vm_portgroup }}"
