#cloud-config

users:
  - name: {{ ansible_user }}
    gecos: HPE Rancher on SimpliVity ansible account
    lock-passwd: true
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh_authorized_keys:
      - {{ ssh_key }}
ntp:
  enabled: true
  servers: {{ ntp_servers }}
