#cloud-config
users:
  - name: {{ ansible_user }}
    gecos: HPE Rancher on SimpliVity ansible account
    lock-passwd: true
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh_authorized_keys:
      - {{ ssh_key }}
{% if proxy is defined %}
apt:
  http_proxy: {{ proxy.http }}
  https_proxy: {{ proxy.https }}
write_files:
- path: /etc/environment
  owner: root:root
  content: |
    HTTP_PROXY={{ proxy.http }}
    HTTPS_PROXY={{ proxy.https }}
    NO_PROXY={{ proxy.except }},{{ rancher_subnet }}
    http_proxy={{ proxy.http }}
    https_proxy={{ proxy.https }}
    no_proxy={{ proxy.except }},{{ rancher_subnet }}
{% endif %}

ca-certs:
  trusted:
{% for ca in additional_cas %}
  - |
    {{ lookup('file',ca) | indent(width=4, indentfirst=false) }}
{% endfor %}
