amazonElasticContainerServiceConfig: null
answers: null
azureKubernetesServiceConfig: null
description: mycluster
dockerRootDir: /var/lib/docker
enableClusterAlerting: false
enableClusterMonitoring: true
enableNetworkPolicy: false
googleKubernetesEngineConfig: null
localClusterAuthEndpoint:
  enabled: true
name: {{ user_cluster.name }}
rancherKubernetesEngineConfig:
  addonJobTimeout: 30
  authentication:
    strategy: x509|webhook
  authorization: {}
  bastionHost: {}
  cloudProvider: {}
  ignoreDockerVersion: true
  ingress:
    provider: nginx
  kubernetesVersion: v1.17.2-rancher1-2
  monitoring:
    provider: metrics-server
  network:
    options:
      flannel_backend_type: vxlan
    plugin: canal
  restore: {}
  services:
    etcd:
      backupConfig:
        enabled: true
        intervalHours: 12
        retention: 6
      creation: 12h
      extraArgs:
        election-timeout: '5000'
        heartbeat-interval: '500'
      retention: 72h
      snapshot: false
    kubeApi:
      serviceNodePortRange: 30000-32767
    kubeController: {}
    kubelet: {}
    kubeproxy: {}
    scheduler: {}
windowsPreferedCluster: false
{% if user_cluster.scheduledClusterScan is defined %}
scheduledClusterScan: {{ user_cluster.scheduledClusterScan  }}
{% endif %}

