{% if rancherserver_tls_source == 'secret' and rancherserver_tls_privateCA %}
privateCA: true
{% endif %}
hostname: "{{ rancherserver_hostname }}"
{% if proxy is defined %}
proxy: {{ proxy.http }}
noProxy: {{ proxy.except }},10.0.0.0/8
{% endif %}
ingress:
#  extraAnnotations:
#    nginx.ingress.kubernetes.io/proxy-connect-timeout: "30"
#    nginx.ingress.kubernetes.io/proxy-read-timeout: "1800"
#    nginx.ingress.kubernetes.io/proxy-send-timeout: "1800"
  tls:
    # options: rancher, letsEncrypt, secret
    source: {{ rancherserver_tls_source }}

